*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
ul li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #424242;
}
.btn_primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}


/* -----common css part end----- */



/* ---header styles part--- */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav >ul{
    display: flex;
}
nav li{
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
/*----- banner styles part----- */

.banner_content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner_title{
    margin-top: 100px;
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner_dsc{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}

.banner img{
    margin-top: 50px;
    width: 100%;

}

/* main section styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams styles */

.teams_container{
    display: flex;
    align-items: center; 
    margin-top: 85px;
}
.temas_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams_content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams_title{
    font-size: 2.8rem;

}
 .teams_title .Quick_list{
    color: #727272;
    font-weight: 500;
 }
 .teams_title .our{
    color: #131313;
    font-weight: 700;
 }
 .teams_title .text_features{
    color: #FF900E;
    font-weight: 700;
 }
 .teams_dsc{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
 }
 /* -----Features section styles */
 .features{
    margin-top: 100px;
    display:flex;
    gap: 100px;
 }
.feature_title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.feature_dsc{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}
.feature_content .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 63px 42px 30px 30px;
    margin-bottom: 20px;
}
#feature_margin{
    margin-top: 10px;
}
.features .feature_title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.ten_years_badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
}
.ten_years_badge h2{
    font-size: 4rem;
}

/* -----Facts section styles */
.facts{
    margin-top: 120px;
}
.facts_title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.facts_dsc{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}
.facts_card_container {
    display: flex;
    justify-content: space-around;
}
.facts_card_container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
.facts_card_container .card_stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts_card_container .card_title{
    color:#727272;
    font-size: 20px;
    font-weight: 600;
}
/* -----Sponspors section styles */
.sponsors{
    text-align: center;
    margin-top: 150px;
}
.sponspors_title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.sponspors_dsc{
    margin-top: 20px;
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}
.sponsors_img_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}
.sponsors_img_container img{
    width: 165px;
}








 /* -----responsive styles ----- */

/* Mobile devices */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams_container, .facts_card_container,
    .sponsors_img_container{
        flex-direction: column;
    }
    .temas_img_container{
        grid-template-columns: 1fr;
    }
    .teams_content, .facts_card_container,
    .facts_title, .facts_dsc, .sponspors_dsc{
        padding-left: 20px;
        padding-right: 20px;
    }
  
}


/* medium devices or tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    nav, .teams_container, .sponsors_img_container{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
}